In [1]:

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like

import numpy as np
import datetime
import pandas_datareader.data as web

In [2]:
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 5, 30)
vix = web.DataReader('VIXCLS', 'fred', start, end)

# show retrieved VIX volatility data
vix

            VIXCLS
DATE
2018-01-01     NaN
2018-01-02    9.77
2018-01-03    9.15
2018-01-04    9.22
2018-01-05    9.22
2018-01-08    9.52
2018-01-09   10.08
2018-01-10    9.82
2018-01-11    9.88
2018-01-12   10.16
2018-01-15     NaN
2018-01-16   11.66
2018-01-17   11.91
2018-01-18   12.22
2018-01-19   11.27
2018-01-22   11.03
2018-01-23   11.10
2018-01-24   11.47
2018-01-25   11.58
2018-01-26   11.08
2018-01-29   13.84
2018-01-30   14.79
2018-01-31   13.54
2018-02-01   13.47
2018-02-02   17.31
2018-02-05   37.32
2018-02-06   29.98
2018-02-07   27.73
2018-02-08   33.46
2018-02-09   29.06
...            ...
2018-04-19   15.96
2018-04-20   16.88
2018-04-23   16.34
2018-04-24   18.02
2018-04-25   17.84
2018-04-26   16.24
2018-04-27   15.41
2018-04-30   15.93
2018-05-01   15.49
2018-05-02   15.97
2018-05-03   15.90
2018-05-04   14.77
2018-05-07   14.75
2018-05-08   14.71
2018-05-09   13.42
2018-05-10   13.23
2018-05-11   12.65
2018-05-14   12.93
2018-05-15   14.63
2018-05-16   13.42
2018-05-17   13.43
2018-05-18   13.42
2018-05-21   13.08
2018-05-22   13.22
2018-05-23   12.58
2018-05-24   12.53
2018-05-25   13.22
2018-05-28     NaN
2018-05-29   17.02
2018-05-30   14.94

[108 rows x 1 columns]